.form {
    padding: 1rem;
    max-width: 30rem;
    margin: 2rem auto;
    border-radius: 4px;
    background: linear-gradient(180deg, #307E6C, #2B996D);
  }
  .input-group {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
  }
  .form label {
    display: block;
    margin-bottom: 0.25rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #76C0AE;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #C2E9E0;
    font-size: 1rem;
  }
  .actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background: linear-gradient(180deg, #1F584B, #17493D);
    color: #C2E9E0;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
  }
  .buttonAlt {
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    background: transparent;
    color: #C2E9E0;
    cursor: pointer;
  }
  .button:hover {
    background: linear-gradient(180deg, #1B5346, #113C32);
  }
  .buttonAlt:hover {
    background: transparent;
    color: #91E1D0;
  }





